@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: rgb(21, 28, 31);
    --green-color100: rgb(34, 44, 48);
    --terminal-green-color: rgb(107, 231, 72);
    --font-size: .9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}


/************************************************************ _body_ ************************************************************/
body {
    transition: all .5s ease;
}

#root {
    margin: 40px 40px 0 40px;
    font-size: var(--font-size);
    font-weight: 500;
    
}

.text-line {
    white-space: pre-wrap;
    line-height: normal;
    margin-top: 5px;
}
/************************************************************ _body_ ************************************************************/


/************************************************************ _term_ ************************************************************/
.terminal {
    width: 100%;
    opacity: 1;
}

#termHistory {
    width: 100%;
    resize: none;
    border: none;
    display: block;
    
}

#inputLabel {
    font-weight: bold;
}

#termInput {
    margin-bottom: 40px;
    background: transparent;
    border: none;
    width: 80%;
    font-size: var(--font-size);
    color: #fff;
    outline: none;
}
/************************************************************ _term_ ************************************************************/


/******************************************************** media_queries *********************************************************/
@media screen and (max-width: 739px) {
    #termInput {
        width: 66%;
    }
}

@media screen and (max-width: 499px) {
    #root {
        margin: 28px 28px 0 28px;
        font-size: calc(.6rem + 1vw);
    }

    #termInput {
        margin-bottom: 40px;
        font-size: calc(.6rem + 1vw);
    }
}

@media screen and (max-width: 413px) {
    #root {
        font-size: calc(.54rem + 1vw);
    }

    #termInput {
        font-size: calc(.54rem + 1vw);
    }
}

@media screen and (max-width: 376px) {
    #root {
        font-size: calc(.5rem + 1vw);
    }

    #termInput {
        font-size: calc(.5rem + 1vw);
    }
}

/******************************************************** media_queries *********************************************************/


/********************************************************** _themes_ ************************************************************/
.light-theme {
    color: var(--primary-color);
    background-color: #fff;
}

.light-theme #termInput {
    color: var(--primary-color);
}

.dark-theme {
    color: #fff;
    background-color: var(--primary-color);
}
/********************************************************** _themes_ ************************************************************/
